.typewriter {
  overflow: hidden; /* Hide overflow to create typewriter effect */
  border-right: 0.15em solid orange; /* Vertical blinking cursor effect */
  white-space: nowrap; /* Prevent line breaks */
  margin: 0;
  padding: 0;
  animation: typewriter 1s steps(28) infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}